In [1]:
# dependencies
import pandas as pd
import os
import numpy as np

In [2]:
from datetime import datetime
from datetime import date

In [3]:
# import year-over-year tripdata
citi_2013 = "data/trip_details/201306-citibike-tripdata.csv"
citi_2014 = "data/trip_details/201406-citibike-tripdata.csv"
citi_2015 = "data/trip_details/201506-citibike-tripdata.csv"
citi_2016 = "data/trip_details/201606-citibike-tripdata.csv"
citi_2017 = "data/trip_details/201706-citibike-tripdata.csv"
citi_2018 = "data/trip_details/201806-citibike-tripdata.csv"

In [4]:
# read the CSVs in pandas/convert into dataframes
to_datetime = lambda d: datetime.strptime(d, '%m/%d/%Y %H:%M')
to_datetime2 = lambda d: datetime.strptime(d, '%Y-%m-%d %H:%M:%S')
to_datetime3 = lambda d: datetime.strptime(d, '%m/%d/%Y %H:%M:%S')

citi13_df = pd.read_csv('data/trip_details/201306-citibike-tripdata.csv', converters={'starttime': to_datetime2, 'stoptime': to_datetime2})
print("Done reading 2013 data.")
citi14_df = pd.read_csv('data/trip_details/201406-citibike-tripdata.csv', converters={'starttime': to_datetime2, 'stoptime': to_datetime2})
print("Done reading 2014 data.")
citi15_df = pd.read_csv('data/trip_details/201506-citibike-tripdata.csv', converters={'starttime': to_datetime, 'stoptime': to_datetime})
print("Done reading and converting 2015 data.")
citi16_df = pd.read_csv('data/trip_details/201606-citibike-tripdata.csv', converters={'starttime': to_datetime3, 'stoptime': to_datetime3})
print("Done reading and converting 2016 data.")
citi17_df = pd.read_csv('data/trip_details/201706-citibike-tripdata.csv', converters={'starttime': to_datetime2, 'stoptime': to_datetime2})
print("Done reading 2017 data.")
#citi18_df = pd.read_csv('data/trip_details/201806-citibike-tripdata.csv', converters={'starttime': to_datetime2, 'stoptime': to_datetime2})
#print("Done reading 2018 data.")

print(citi13_df.head(5))
print("-"*20)
print(citi14_df.head(5))
print("-"*20)
print(citi15_df.head(5))
print("-"*20)
print(citi16_df.head(5))
print("-"*20)
print(citi17_df.head(5))


df_total = pd.concat([citi13_df, citi14_df, citi15_df, citi16_df, citi17_df])
print(df_total.head(5))
print("And tail...")
print(df_total.tail(5))
df_total.to_csv("total.csv", sep=',')

Done reading 2013 data.
Done reading 2014 data.
Done reading and converting 2015 data.
Done reading and converting 2016 data.
Done reading 2017 data.
   tripduration           starttime            stoptime  start station id  \
0           695 2013-06-01 00:00:01 2013-06-01 00:11:36               444
1           693 2013-06-01 00:00:08 2013-06-01 00:11:41               444
2          2059 2013-06-01 00:00:44 2013-06-01 00:35:03               406
3           123 2013-06-01 00:01:04 2013-06-01 00:03:07               475
4          1521 2013-06-01 00:01:22 2013-06-01 00:26:43              2008

       start station name  start station latitude  start station longitude  \
0      Broadway & W 24 St               40.742354               -73.989151
1      Broadway & W 24 St               40.742354               -73.989151
2  Hicks St & Montague St               40.695128               -73.995951
3     E 15 St & Irving Pl               40.735243               -73.987586
4   Little West St & 1 Pl               40.705693               -74.016777

   end station id        end station name  end station latitude  \
0           434.0         9 Ave & W 18 St             40.743174
1           434.0         9 Ave & W 18 St             40.743174
2           406.0  Hicks St & Montague St             40.695128
3           262.0         Washington Park             40.691782
4           310.0     State St & Smith St             40.689269

   end station longitude  bikeid    usertype  birth year  gender
0             -74.003664   19678  Subscriber      1983.0       1
1             -74.003664   16649  Subscriber      1984.0       1
2             -73.995951   19599    Customer         NaN       0
3             -73.973730   16352  Subscriber      1960.0       1
4             -73.989129   15567  Subscriber      1983.0       1
--------------------
   tripduration           starttime            stoptime  start station id  \
0           520 2014-06-01 00:00:02 2014-06-01 00:08:42               358
1           520 2014-06-01 00:00:27 2014-06-01 00:09:07               335
2           414 2014-06-01 00:00:32 2014-06-01 00:07:26               439
3           310 2014-06-01 00:00:34 2014-06-01 00:05:44               463
4           457 2014-06-01 00:00:35 2014-06-01 00:08:12               352

              start station name  start station latitude  \
0  Christopher St & Greenwich St               40.732916
1       Washington Pl & Broadway               40.729039
2                 E 4 St & 2 Ave               40.726281
3                9 Ave & W 16 St               40.742065
4                W 56 St & 6 Ave               40.763406

   start station longitude  end station id          end station name  \
0               -74.007114             426     West St & Chambers St
1               -73.994046             265  Stanton St & Chrystie St
2               -73.989780             368        Carmine St & 6 Ave
3               -74.004432             380          W 4 St & 7 Ave S
4               -73.977225             305           E 58 St & 3 Ave

   end station latitude  end station longitude  bikeid    usertype birth year  \
0             40.717548             -74.013221   18840  Subscriber       1979
1             40.722293             -73.991475   17442    Customer         \N
2             40.730386             -74.002150   16447  Subscriber       1980
3             40.734011             -74.002939   18218  Subscriber       1984
4             40.760958             -73.967245   18115  Subscriber       1969

   gender
0       1
1       0
2       1
3       1
4       1
--------------------
   tripduration           starttime            stoptime  start station id  \
0          1338 2015-06-01 00:00:00 2015-06-01 00:22:00               128
1           290 2015-06-01 00:00:00 2015-06-01 00:05:00               438
2           634 2015-06-01 00:01:00 2015-06-01 00:11:00               383
3           159 2015-06-01 00:01:00 2015-06-01 00:04:00               361
4          1233 2015-06-01 00:02:00 2015-06-01 00:22:00               382

           start station name  start station latitude  \
0    MacDougal St & Prince St               40.727103
1         St Marks Pl & 1 Ave               40.727791
2  Greenwich Ave & Charles St               40.735238
3        Allen St & Hester St               40.716059
4     University Pl & E 14 St               40.734927

   start station longitude  end station id         end station name  \
0               -74.002971            2021          W 45 St & 8 Ave
1               -73.985649             312  Allen St & E Houston St
2               -74.000271             388         W 26 St & 10 Ave
3               -73.991908             531   Forsyth St & Broome St
4               -73.992005             532          S 5 Pl & S 4 St

   end station latitude  end station longitude  bikeid    usertype  \
0             40.759291             -73.988597   20721  Subscriber
1             40.722055             -73.989111   21606  Subscriber
2             40.749718             -74.002950   16595  Subscriber
3             40.718939             -73.992663   16949  Subscriber
4             40.710451             -73.960876   17028    Customer

   birth year  gender
0      1984.0       1
1      1997.0       1
2      1993.0       1
3      1981.0       1
4         NaN       0
--------------------
   tripduration           starttime            stoptime  start station id  \
0          1470 2016-06-01 00:00:18 2016-06-01 00:24:48               380
1           229 2016-06-01 00:00:20 2016-06-01 00:04:09              3092
2           344 2016-06-01 00:00:21 2016-06-01 00:06:06               449
3          1120 2016-06-01 00:00:28 2016-06-01 00:19:09               522
4           229 2016-06-01 00:00:53 2016-06-01 00:04:42               335

         start station name  start station latitude  start station longitude  \
0          W 4 St & 7 Ave S               40.734011               -74.002939
1         Berry St & N 8 St               40.719009               -73.958525
2           W 52 St & 9 Ave               40.764618               -73.987895
3   E 51 St & Lexington Ave               40.757148               -73.972078
4  Washington Pl & Broadway               40.729039               -73.994046

   end station id         end station name  end station latitude  \
0            3236       W 42 St & Dyer Ave             40.758985
1            3103      N 11 St & Wythe Ave             40.721533
2             469       Broadway & W 53 St             40.763441
3             401  Allen St & Rivington St             40.720196
4             285       Broadway & E 14 St             40.734546

   end station longitude  bikeid    usertype  birth year  gender
0             -73.993800   19859  Subscriber      1972.0       1
1             -73.957824   16233  Subscriber      1967.0       1
2             -73.982681   22397  Subscriber      1989.0       1
3             -73.989978   16231  Subscriber      1991.0       1
4             -73.990741   15400  Subscriber      1989.0       1
--------------------
   tripduration           starttime            stoptime  start station id  \
0          1397 2017-06-01 00:00:02 2017-06-01 00:23:19               515
1          1103 2017-06-01 00:00:13 2017-06-01 00:18:37               488
2          1810 2017-06-01 00:00:20 2017-06-01 00:30:31               461
3          1760 2017-06-01 00:00:24 2017-06-01 00:29:45              2009
4          2165 2017-06-01 00:00:33 2017-06-01 00:36:38               360

         start station name  start station latitude  start station longitude  \
0          W 43 St & 10 Ave               40.760094               -73.994618
1           W 39 St & 9 Ave               40.756458               -73.993722
2           E 20 St & 2 Ave               40.735877               -73.982050
3  Catherine St & Monroe St               40.711174               -73.996826
4      William St & Pine St               40.707179               -74.008873

   end station id          end station name  end station latitude  \
0            3285  W 87 St  & Amsterdam Ave             40.788390
1             297           E 15 St & 3 Ave             40.734232
2             465        Broadway & W 41 St             40.755136
3             527           E 33 St & 2 Ave             40.744023
4             474           5 Ave & E 29 St             40.745168

   end station longitude  bikeid    usertype  birth year  gender
0             -73.974700   26642  Subscriber      1967.0       1
1             -73.986923   25656  Subscriber      1981.0       1
2             -73.986580   21023  Subscriber      1982.0       1
3             -73.976056   25718  Subscriber      1973.0       2
4             -73.986831   18691  Subscriber      1985.0       1

   tripduration           starttime            stoptime  start station id  \
0           695 2013-06-01 00:00:01 2013-06-01 00:11:36               444
1           693 2013-06-01 00:00:08 2013-06-01 00:11:41               444
2          2059 2013-06-01 00:00:44 2013-06-01 00:35:03               406
3           123 2013-06-01 00:01:04 2013-06-01 00:03:07               475
4          1521 2013-06-01 00:01:22 2013-06-01 00:26:43              2008

       start station name  start station latitude  start station longitude  \
0      Broadway & W 24 St               40.742354               -73.989151
1      Broadway & W 24 St               40.742354               -73.989151
2  Hicks St & Montague St               40.695128               -73.995951
3     E 15 St & Irving Pl               40.735243               -73.987586
4   Little West St & 1 Pl               40.705693               -74.016777

   end station id        end station name  end station latitude  \
0           434.0         9 Ave & W 18 St             40.743174
1           434.0         9 Ave & W 18 St             40.743174
2           406.0  Hicks St & Montague St             40.695128
3           262.0         Washington Park             40.691782
4           310.0     State St & Smith St             40.689269

   end station longitude  bikeid    usertype birth year  gender
0             -74.003664   19678  Subscriber       1983       1
1             -74.003664   16649  Subscriber       1984       1
2             -73.995951   19599    Customer        NaN       0
3             -73.973730   16352  Subscriber       1960       1
4             -73.989129   15567  Subscriber       1983       1
And tail...
         tripduration           starttime            stoptime  \
1731589           394 2017-06-30 23:59:30 2017-07-01 00:06:05
1731590          1171 2017-06-30 23:59:40 2017-07-01 00:19:12
1731591          1272 2017-06-30 23:59:47 2017-07-01 00:20:59
1731592           918 2017-06-30 23:59:45 2017-07-01 00:15:03
1731593          1398 2017-06-30 23:59:53 2017-07-01 00:23:12

         start station id              start station name  \
1731589               539  Metropolitan Ave & Bedford Ave
1731590               195           Liberty St & Broadway
1731591               477                 W 41 St & 8 Ave
1731592               328         Watts St & Greenwich St
1731593              3244          University Pl & E 8 St

         start station latitude  start station longitude  end station id  \
1731589               40.715348               -73.960241          3107.0
1731590               40.709056               -74.010434           438.0
1731591               40.756405               -73.990026          3314.0
1731592               40.724055               -74.009660           146.0
1731593               40.731437               -73.994903          3002.0

                   end station name  end station latitude  \
1731589    Bedford Ave & Nassau Ave             40.723117
1731590         St Marks Pl & 1 Ave             40.727791
1731591          W 95 St & Broadway             40.793770
1731592        Hudson St & Reade St             40.716250
1731593  South End Ave & Liberty St             40.711512

         end station longitude  bikeid    usertype birth year  gender
1731589             -73.952123   28065  Subscriber       1986       2
1731590             -73.985649   25079  Subscriber       1986       1
1731591             -73.971888   25606  Subscriber       1982       1
1731592             -74.009106   19739  Subscriber       1998       1
1731593             -74.015756   15694  Subscriber       1987       2

In [5]:
# read the remaining CSVs in pandas/convert into dataframes
citi18_df = pd.read_csv(citi_2018)

In [6]:
citibike_June = [df_total, citi18_df]

citibike_df = pd.concat(citibike_June)
citibike_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,695,2013-06-01 00:00:01,2013-06-01 00:11:36,444,Broadway & W 24 St,40.742354,-73.989151,434.0,9 Ave & W 18 St,40.743174,-74.003664,19678,Subscriber,1983,1
1,693,2013-06-01 00:00:08,2013-06-01 00:11:41,444,Broadway & W 24 St,40.742354,-73.989151,434.0,9 Ave & W 18 St,40.743174,-74.003664,16649,Subscriber,1984,1
2,2059,2013-06-01 00:00:44,2013-06-01 00:35:03,406,Hicks St & Montague St,40.695128,-73.995951,406.0,Hicks St & Montague St,40.695128,-73.995951,19599,Customer,NaN,0
3,123,2013-06-01 00:01:04,2013-06-01 00:03:07,475,E 15 St & Irving Pl,40.735243,-73.987586,262.0,Washington Park,40.691782,-73.973730,16352,Subscriber,1960,1
4,1521,2013-06-01 00:01:22,2013-06-01 00:26:43,2008,Little West St & 1 Pl,40.705693,-74.016777,310.0,State St & Smith St,40.689269,-73.989129,15567,Subscriber,1983,1

In [7]:
# rename columns so there's never spaces in the column name
citibike_df = citibike_df.rename(columns={"tripduration": "Trip_Duration", 
                                          "starttime": "Start_Time", 
                                          "stoptime": "Stop_Time",
                                          "start station id": "Start_Station_ID", 
                                          "start station name": "Start_Station_Name", 
                                          "start station latitude": "Start_Lat.", 
                                          "start station longitude": "Start_Long.",
                                          "end station id": "End_Station_ID", 
                                          "end station name": "End_Station_Name", 
                                          "end station latitude": "End_Lat.", 
                                          "end station longitude": "End_Long.",
                                          "bikeid": "Bike_ID", 
                                          "usertype": "Rider_Type",
                                          "birth year": "Born", 
                                          "gender": "Gender", 
                                         })



citibike_df.head()

,Trip_Duration,Start_Time,Stop_Time,Start_Station_ID,Start_Station_Name,Start_Lat.,Start_Long.,End_Station_ID,End_Station_Name,End_Lat.,End_Long.,Bike_ID,Rider_Type,Born,Gender
0,695,2013-06-01 00:00:01,2013-06-01 00:11:36,444,Broadway & W 24 St,40.742354,-73.989151,434.0,9 Ave & W 18 St,40.743174,-74.003664,19678,Subscriber,1983,1
1,693,2013-06-01 00:00:08,2013-06-01 00:11:41,444,Broadway & W 24 St,40.742354,-73.989151,434.0,9 Ave & W 18 St,40.743174,-74.003664,16649,Subscriber,1984,1
2,2059,2013-06-01 00:00:44,2013-06-01 00:35:03,406,Hicks St & Montague St,40.695128,-73.995951,406.0,Hicks St & Montague St,40.695128,-73.995951,19599,Customer,NaN,0
3,123,2013-06-01 00:01:04,2013-06-01 00:03:07,475,E 15 St & Irving Pl,40.735243,-73.987586,262.0,Washington Park,40.691782,-73.973730,16352,Subscriber,1960,1
4,1521,2013-06-01 00:01:22,2013-06-01 00:26:43,2008,Little West St & 1 Pl,40.705693,-74.016777,310.0,State St & Smith St,40.689269,-73.989129,15567,Subscriber,1983,1

In [8]:
# number of rows in df
len(citibike_df)

7600817

In [9]:
#ensure all lines match
citibike_df.count()

Trip_Duration         7600817
Start_Time            7600817
Stop_Time             7600817
Start_Station_ID      7600817
Start_Station_Name    7600817
Start_Lat.            7600817
Start_Long.           7600817
End_Station_ID        7582758
End_Station_Name      7582758
End_Lat.              7582758
End_Long.             7582758
Bike_ID               7600817
Rider_Type            7600817
Born                  6842466
Gender                7600817
dtype: int64

In [10]:
# clean data by dropping null rows
citibike_clean_df = citibike_df.dropna(how='any')

# verify counts for number of recorded trips
citibike_clean_df.count()

Trip_Duration         6831925
Start_Time            6831925
Stop_Time             6831925
Start_Station_ID      6831925
Start_Station_Name    6831925
Start_Lat.            6831925
Start_Long.           6831925
End_Station_ID        6831925
End_Station_Name      6831925
End_Lat.              6831925
End_Long.             6831925
Bike_ID               6831925
Rider_Type            6831925
Born                  6831925
Gender                6831925
dtype: int64

In [11]:
# Traverse through gender column and rewrite the value from a number to a word where condition matches. 
citibike_clean_df.Gender[citibike_clean_df.Gender == 1] = "Male"
citibike_clean_df.Gender[citibike_clean_df.Gender == 2] = "Female"
citibike_clean_df.Gender[citibike_clean_df.Gender == 0] = "Unidentified"
print(citibike_clean_df.Gender)

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/generic.py:7620: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
/anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0                  Male
1                  Male
3                  Male
4                  Male
6                  Male
7                  Male
8                  Male
9                  Male
10                 Male
12                 Male
14                 Male
15               Female
16                 Male
20                 Male
21                 Male
22                 Male
23                 Male
24                 Male
25                 Male
26                 Male
28                 Male
29                 Male
30                 Male
31                 Male
32                 Male
33               Female
34               Female
36                 Male
38               Female
39                 Male
               ...
1953073            Male
1953074            Male
1953075            Male
1953076    Unidentified
1953077          Female
1953078          Female
1953079          Female
1953080          Female
1953081            Male
1953082          Female
1953083            Male
1953084          Female
1953085            Male
1953086            Male
1953087            Male
1953088            Male
1953089            Male
1953090            Male
1953091            Male
1953092    Unidentified
1953093            Male
1953094          Female
1953095          Female
1953096            Male
1953097            Male
1953098            Male
1953099            Male
1953100            Male
1953101            Male
1953102            Male
Name: Gender, Length: 6831925, dtype: object

In [12]:
citibike_clean_df.dtypes

Trip_Duration           int64
Start_Time             object
Stop_Time              object
Start_Station_ID        int64
Start_Station_Name     object
Start_Lat.            float64
Start_Long.           float64
End_Station_ID        float64
End_Station_Name       object
End_Lat.              float64
End_Long.             float64
Bike_ID                 int64
Rider_Type             object
Born                   object
Gender                 object
dtype: object

In [13]:
# in case there are still missing data
citibike_clean_df = citibike_clean_df.fillna(0)

In [14]:
citibike_clean_df["End_Station_ID"] = citibike_clean_df["End_Station_ID"].astype(int)

In [15]:
citibike_clean_df["Born"] = citibike_clean_df["Born"].apply(lambda x: int(x) if x != '\\N' else 0)

In [16]:
citibike_clean_df.dtypes

Trip_Duration           int64
Start_Time             object
Stop_Time              object
Start_Station_ID        int64
Start_Station_Name     object
Start_Lat.            float64
Start_Long.           float64
End_Station_ID          int64
End_Station_Name       object
End_Lat.              float64
End_Long.             float64
Bike_ID                 int64
Rider_Type             object
Born                    int64
Gender                 object
dtype: object

In [18]:
# Commenting this out as it worked in testing for 2013, yet still need to debug the issue for other years. 
#Getting this error KeyError: '[539153] not found in axis'

# Loop through the df and run a search for non-trips (i.e., bike may have been broken, never left the station)
#for index, row in citibike_clean_df.iterrows():
    #if (row['Trip_Duration'] <= 90) and (row['Start_Station_ID'] == row['End_Station_ID']):
         #citibike_clean_df.drop(index, inplace=True)

In [ ]:
# Export file as a CSV, without the Pandas index, but with the header
citibike_clean_df.to_csv("data/citibike_df4.csv", index=False, header=True)